<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>跑步信息</title>
	<link rel="shortcut icon" href="http://cdn-img.easyicon.net/favicon.ico">
</head>
<body bgcolor="#FFFFF0">
<div>
    <h2 align="center"><font color="#ff6400">各地跑步比赛信息</font></h2>
	<h4 align="center">以下信息来源于:
		<a href="http://www.phonedm.com/index.jsp" target="_blank">爱江山</a>
		<a href="http://iranshao.com" target="_blank">爱燃烧</a>
		<a href="http://www.erun360.com" target="_blank">益跑网</a>
        <a href="http://www.w3school.com.cn" target="_blank">Visit W3School!</a>
	</h4>
</div>

<div class="topPrice1sub">
						<span>抓取网站：</span>
						<ul class="toplinkcontainer">
							<li class="nopop"><a href="/raceajs" title="爱江山"><font color="#FF6400">爱江山</font></a></li>
							<li class="nopop"><a href="/raceirs" title="爱燃烧"><font color="#FF6400">爱燃烧</font></a></li>
							<li class="nopop"><a href="/raceypw" title="益跑网"><font color="#FF6400">益跑网</font></a></li>
						</ul>
				</div>



{% block content %}
{% endblock %}

<hr />
<div>
    <h1 align="center">Copyright © 2016 Lauda</h1>
    <h5 align="center">感谢:陈良/吴令两位同学指导</h5>
</div>

</body>
</html>