{% extends "base.html" %}
{% block content %}

<table>
    <thead>
        <tr>
            <th data-sort-order="default" class="default">RACENAME</th>
            <th data-sort-order="default" class="default">RACEADD</th>
            <th data-sort-order="default" class="default">RACETIME</th>
            <th data-sort-order="default" class="default">RACESTATUS</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            {% for conntt in irs %}
        <tr>
            <td>{{conntt.raceName}}</td>
            <td>{{conntt.raceADD}}</td>
            <td>{{conntt.raceTime}}</td>
            <td>{{conntt.raceBETime}}</td>
        </tr>
            {% endfor %}
        </tr>
    </tbody>

</table>

{% endblock %}