<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test table</title>
</head>
<body>
<table>
    <thead>
        <tr>
            <th data-sort-order="default" class="default">raceName</th>
            <th data-sort-order="default" class="default">raceADD</th>
            <th data-sort-order="default" class="default">raceTime</th>
            <th data-sort-order="default" class="default">raceNote</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{article.raceName}}</td>
            <td>{{article.raceADD}}</td>
            <td>{{article.raceTime}}</td>
            <td>{{article.raceNote}}</td>
        </tr>
    </tbody>
</table>
</body>
</html>